{% extends 'mainapp/base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
{% load static %}

<div class="header-background">
    <h1>Беговой клуб ЛЕОПАРД</h1>
</div>


{% endblock %}
{% block extra_head %}
<style>
    @font-face {
        font-family: 'dnk_rus'; /* Название вашего шрифта */
        src: url('{% static "fonts/dnk_rus.ttf" %}') format('truetype');
        font-weight: normal; /* Укажите, если это жирный шрифт */
        font-style: normal; /* Укажите, если это курсив */
    }
.header-background {
        background-color: orangered;
        padding: 10px 20px; /* Уменьшите отступы для контроля высоты */
        display: inline-block;
        margin: 400px auto; /* Центрирует и добавляет отступ сверху и снизу */


    }

    h1 {
        font-family: 'dnk_rus', sans-serif;
        font-size: 150px;
        color: black;
        margin: 0;
        align-items: center
        display: inline; /* Убирает блочное поведение заголовка */

    }
</style>
{% endblock %}